<!DOCTYPE html>
<html>


    

<head>
    <% include head_imports.html %>
    <script type="text/javascript">
       
        // on document start
        $(document).ready(function () {
            // NOTE: this method is in static/helper.js
            loadEvents()
            displayFollowerCount()
        })

        function displayFollowerCount() {
            document.getElementById("followerCount").innerHTML = "Followers: <%= followers.length%>";
        }

    </script>
</head>

<body>
    <% include header.html %>
    
    <div class="columns">

        <!-- left margin -->
        <div class="column is-1">
        </div>

        

        <div class="column">
            <p class="subtitle is-3">Update Group Information</p>
        
        
            <form action="/updategroup" method="post">
                
                <div class="row">
                    
                    <div class="column">
                        <h4>Group name: </h4>
                        <input class = "input" type="text" value = "<%= displayName%>" name="groupName" required>
                    </div>
                    <div class="column">
                        <h4>Email: </h4>
                        <input class = "input" type="email" value = "<%= email%>" name="email" disabled>
                    </div>
                    <div class="column">
                        <h4>Password: </h4>
                        <input class = "input" type="password" value = "<%= password%>" name="password" required>
                    </div>
                    <div class="column">
                        <h4>Group Type: </h4>
                        <input class = "input" type="text" value = "<%= groupType%> "name="groupType" required>
                    </div>
                    <div class="column">
                        <h4>Bio: </h4>
                        <input class = "input" type="text" value = "<%= bio%> "name="bio" required>
                    </div>
                    <div class="column">
                        <button class="button is-link" style="margin-top: 2rem;" type="submit" value="Login" class="btn btn-primary">Save
                            Changes</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- middle margin -->
        <div class="column is-narrow">
        </div>


        <div class="column">
            <p class="subtitle is-3" id="followerCount">Followers:</p>
            <button class="button is-link" type="submit" onclick="location.href = '/view_followers';">View Follwers</button>
            <br><br>
            <p class="subtitle is-3">Current Events</p>
            <button class="button is-link" type="submit" onclick="location.href = '/create_event';">Create New Event</button>
            <br><br>
            <ul id="currentEvents">
            </ul>
        </div>

        <!-- right margin -->
        <div class="column is-1">
        </div>

    </div>
</body>

</html>