<!DOCTYPE html>
<html>


    

<head>
    <% include head_imports.html %>
    <script type="text/javascript">


        function loadEvents() {
            $.getJSON('/get_group_with_events', (res) => {
                var group = res.group;
                
                if (group) {
                    var currentEvents = group.currentEvents;
                    currentEvents.forEach(event => {     
                        $("#currentEvents").append(displayEvent(event));
                    });
                }
            })
        }

        function requestTicket(ticketID) {
            $.post("/request_ticket",{"ticketID":ticketID},(res) => {
                if (res.err == "success") {
                    $("#status" + ticketID).html("");
                }
            });
        }

        function f(showID) {
            alert(showID);
        }


        function viewShow(showID) {
            // alert('here');
            $("#" + showID).html("");
            $.getJSON("/get_show_with_tickets", {"showID":showID}, (data) => {
                var show = data.show;
                var tickets = show.tickets;
                tickets.forEach((ticket) => {
                    var attendee = ticket.customer ? ticket.customer : "NAME N/A (id=" +ticket._id+")";
                    var status = "";
                    if (ticket.requested == false) {
                        var btn = createButton("Check in", "requestTicket", ticket._id);
                        status += btn;
                    } else if (ticket.redeemed == false) {
                        status += " (Pending)"
                    } else {
                        status += " (Checked in)"
                    }
                    status += " </div>"
                    attendee += status;
        
                    $("#" + show._id).append(attendee + "<br>");                                        
                })
                var closeButton = createButton("Close Attendees", "unviewShow", show._id);
                $("#" + show._id).append(closeButton);
                
            });
        }

        function unviewShow(showID) {
            $("#" + showID).html("");
        }

        function displayEvent(event) {
            var display = "<p class=\"subtitle is-5\">" + event.name + "</p>";
            event.shows.forEach((show) => {
                var list = "<ul id=\"" + show._id + "\"></ul>";
                var btn = createButton("View Attendees", "viewShow", show._id);
                display +=  prettyDate(show.start_date) + " " + prettyTime(show.start_time) + "<br>" + btn + list + "<br>";
            });            
            return display;
        }


        // on document start
        $(document).ready(function () {
            loadEvents()
            // TODO: populate with events
            // TODO: add timer
        })
    </script>
</head>

<body>
    <% include header.html %>
    
    <div class="columns">
        <div class="column">
            <p class="subtitle is-3">Update Group Information</p>
        
        
            <form action="/updategroup" method="post">
                
                <div class="row">
                    
                    <div class="column">
                        <h4>Group name: </h4>
                        <input class = "input" type="text" value = "<%= displayName%>" name="groupName" required>
                    </div>
                    <div class="column">
                        <h4>Email: </h4>
                        <input class = "input" type="email" value = "<%= email%>" name="email" disabled>
                    </div>
                    <div class="column">
                        <h4>Password: </h4>
                        <input class = "input" type="password" value = "<%= password%>" name="password" required>
                    </div>
                    <div class="column">
                        <h4>Group Type: </h4>
                        <input class = "input" type="text" value = "<%= groupType%> "name="groupType" required>
                    </div>
                    <div class="column">
                        <h4>Bio: </h4>
                        <input class = "input" type="text" value = "<%= bio%> "name="bio" required>
                    </div>
                    <div class="column">
                        <button class="button is-link" style="margin-top: 2rem;" type="submit" value="Login" class="btn btn-primary">Save
                            Changes</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="column">
            <p class="subtitle is-3">Current Events</p>
            <ul id="currentEvents">
            </ul>
        </div>
    </div>
</body>

</html>